#{@sender.handle} wants to share a drink...
%p
%p
So what do you think? Want to have a drink with #{@sender.him_her}?
%p
%p
Click #{link_to('here', user_url(@sender.id, 'utm_campaign' => 'share-drink', 'utm_medium' => 'email', 'utm_source' => 'outlately'))} to respond.
