= raw RedCloth.new(@message.to_s).to_html
%br
Click #{link_to 'here', invite_claim_url(:invitation_token => @invitation.token, 'utm_campaign' => 'invite', 'utm_medium' => 'email', 'utm_source' => 'outlately')} to signup.

= render(:partial => 'footer', :locals => {:campaign => 'invite'})
