%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
  %body
    %p{:style => 'color: #777;'}= raw RedCloth.new(@message).to_html
    %br
    Click #{link_to 'here', root_url(:token => @invitation.token)} to signup.
