- javascript("highcharts")
- javascript('admin_charts')
- javascript('admin_emails')
- stylesheet('admin')

#page-header
  .span-24.last
    = render(:partial => 'admin_links')

#admin-content.clearfix
  #emails{:style => 'width: 900px; height: 300px;'}

:javascript
  var dstart      = #{@dstart.to_datetime.to_i * 1000};
  var email_hash  = #{@email_hash.to_json};
