body { background: #ffffff; }
body.admin #page-header { background: #ffffff; }
#admin-content { background: #ffffff; }
#admin-content #badge {
  padding: 10px 5px;
  border-bottom: 1px #cccccc solid;
}
#admin-content #badge.even { background: #efefef; }
#admin-content #badge.odd { background: #ffffff; }
#admin_links a {
  margin-left: 5px;
  color: #0000ff;
}
#admin_links a.current { text-decoration: none; }
#admin-content #users .user { padding: 10px 0; }
#admin-content #users .user.disabled { background-color: #efefef; }
#admin-content #users a#link_user_profile { color: #0000ff; }
#admin-content #users a#toggle_state {
  color: #0000ff;
  margin-left: 3px;
  font-size: 0.8em;
}
#admin-content #users div.user:nth-child(odd) { background-color: #efefef; }
#admin-content #users div.admin_checkin:nth-child(odd) { background-color: #efefef; }
#admin-checkins .admin-checkin { padding: 10px 0; }
#admin-checkins .admin-checkin:nth-child(even) { background-color: #efefef; }
#admin-checkins .checkin-date {
  padding: 10px;
  margin: 10px 0;
  background: #333333;
  color: #ffffff;
  font-weight: bold;
}
#admin-checkins a { color: #0000ff; }
#admin-checkins .location .latlng { color: #999999; }
