input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  border: 0;
  background: rgba(255,255,255,.85);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow:    inset 0 1px 2px rgba(0,0,0,.4);
  box-shadow:         inset 0 1px 2px rgba(0,0,0,.4);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 7px;
  color: #363636;
  width: 400px;
  clear: both;
}

input[type="submit"],
label,
select {
  clear: both;
}

span.hint {
  margin-left: 5px;
  color: #bbb;
}