body.invitations ul#nav li#nav-invitations a { color: #ffcc00; }
#city-menu ul li { display: block; }
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 15px 10px;
}
.simple_form select {
  margin: 15px 0px;
  font-size: 1.2em;
}
.simple_form div.input { margin-bottom: 10px; }
.simple_form input[type='text'] { font-size: 1.5em; }
.simple_form input[type='checkbox'] { margin: 15px 5px; }
.simple_form input[type='submit'] { margin-top: 20px; }
.simple_form span.hint {
  padding-left: 5px;
  font-size: 0.9em;
  color: #777777;
}
.search_places_autocomplete_form { margin-bottom: 20px; }
.search_places_autocomplete_form input[type='text'] {
  font-size: 1.3em;
  width: 580px;
  padding: 5px 3px;
}
.search_places_autocomplete_form #hint {
  margin-top: 10px;
  font-size: 0.9em;
  color: #777777;
}
.suggestion_form .label {
  font-weight: normal;
  text-align: right;
  padding: 0px;
  margin-top: 10px;
}
.suggestion_form input[type='text'] {
  font-size: 1em;
  padding: 5px 3px;
}
.suggestion_form input.message { width: 350px; }
.suggestion_form span#message_count {
  margin-left: 5px;
  color: #777777;
}
.suggestion_title a { color: #0000ff; }
.suggestion {
  margin-top: 20px;
  height: 160px;
}
.suggestion a { color: #0000ff; }
.suggestion .text {
  font-size: 1.1em;
  font-weight: normal;
  color: #333333;
  line-height: 2em;
}
div#todo_header a { color: #0000ff; }
div#todo_search a { color: #0000ff; }
div#todo_search a#add_todo {
  height: 20px;
  width: 35px;
  line-height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ff6f00;
  padding: 0 10px;
  text-decoration: none;
  display: block;
  font-size: 11px;
  text-align: center;
}
div#todo_search span#help { color: #555555; }
div#todos .location { margin-bottom: 10px; }
div#todos .location .name {
  color: #111111;
  font-weight: bold;
}
div#todos .location .street { color: #999999; }
