body.invitations ul#nav li#nav-invitations a { color: #ffcc00; }
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 15px 10px;
}
.simple_form label.error {
  float: none;
  color: #0000ff;
}
.simple_form select {
  margin: 15px 0px;
  font-size: 1.2em;
}
.simple_form div.input { margin-bottom: 10px; }
.simple_form input[type='text'] { font-size: 1.5em; }
.simple_form input[type='checkbox'] { margin: 15px 5px; }
.simple_form input[type='submit'] { margin-top: 20px; }
.simple_form span.hint {
  padding-left: 5px;
  font-size: 0.9em;
  color: #777777;
}
.search_places_autocomplete_form { margin-bottom: 20px; }
.search_places_autocomplete_form input[type='text'] {
  font-size: 1.3em;
  width: 580px;
  padding: 5px 3px;
}
.search_places_autocomplete_form #hint {
  margin-top: 10px;
  font-size: 0.9em;
  color: #777777;
}
.suggestion_form .label {
  font-weight: normal;
  text-align: right;
  padding: 0px;
  margin-top: 10px;
}
.suggestion_form input[type='text'] {
  font-size: 1em;
  padding: 5px 3px;
}
.suggestion_form input.message { width: 350px; }
.suggestion_form span#message_count {
  margin-left: 5px;
  color: #777777;
}
.suggestion_title a { color: #0000ff; }
.suggestion {
  margin-top: 20px;
  height: 160px;
}
.suggestion a { color: #0000ff; }
.suggestion .text {
  font-size: 1.1em;
  font-weight: normal;
  color: #333333;
  line-height: 2em;
}
div#todo_header a { color: #0000ff; }
div#todo_search a { color: #0000ff; }
div#todo_search a.button {
  height: 22px;
  width: 37px;
  line-height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #333333;
  padding: 0 10px;
  text-decoration: none;
  display: block;
  font-size: 11px;
  text-align: center;
}
div#todo_search span#help { color: #555555; }
div#todos .admin_checkin { padding: 10px 0px; }
div#todos .admin_checkin.odd { background: #ffffff; }
div#todos .location { margin-bottom: 10px; }
div#todos .location .name {
  color: #0000ff;
  font-weight: bold;
}
div#todos .location .street { color: #333333; }
div#todos .location .latlng { color: #999999; }
div#todos .location .tags {
  color: #333333;
  font-weight: bold;
}
div#todos .location .add_tags a {
  color: #0000ff;
  font-size: 0.8em;
}
div#todos .location .badges {
  color: #333333;
  font-weight: bold;
}
div#todos .location .add_badges a {
  color: #0000ff;
  font-size: 0.8em;
}
div#locations .admin_checkin { padding: 10px 0px; }
div#locations .admin_checkin.odd { background: #ffffff; }
div#locations .location { margin-bottom: 10px; }
div#locations .location .name {
  color: #0000ff;
  font-weight: bold;
}
div#locations .location .street { color: #333333; }
div#locations .location .latlng { color: #999999; }
div#locations .location .tags {
  color: #333333;
  font-weight: bold;
}
div#locations .location .add_tags a {
  color: #0000ff;
  font-size: 0.8em;
}
div#locations .location .badges {
  color: #333333;
  font-weight: bold;
}
div#locations .location .add_badges a {
  color: #0000ff;
  font-size: 0.8em;
}
div#admin_checkins .admin_checkin { padding: 10px 0px; }
div#admin_checkins .admin_checkin.odd { background: #ffffff; }
div#admin_checkins .location { margin-bottom: 10px; }
div#admin_checkins .location .name {
  color: #0000ff;
  font-weight: bold;
}
div#admin_checkins .location .street { color: #333333; }
div#admin_checkins .location .latlng { color: #999999; }
div#admin_checkins .location .tags {
  color: #333333;
  font-weight: bold;
}
div#admin_checkins .location .add_tags a {
  color: #0000ff;
  font-size: 0.8em;
}
div#admin_checkins .location .badges {
  color: #333333;
  font-weight: bold;
}
div#admin_checkins .location .add_badges a {
  color: #0000ff;
  font-size: 0.8em;
}
div#add_badge a {
  height: 20px;
  width: 60px;
  line-height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ff6f00;
  padding: 0 10px;
  text-decoration: none;
  display: block;
  font-size: 11px;
  text-align: center;
}
div#badge a { color: #0000ff; }
div#badge span#apply_tags a { color: #0000ff; }
div#badge span#help { color: #555555; }
div#tags #add_tag_list {
  font-size: 1.5em;
  color: #333333;
}
div#tags #add_tag_list a {
  font-size: 0.9em;
  color: #ff0000;
}
div#tags a#submit_tags {
  margin-top: 20px;
  color: #0000ff;
}
