body {
  background: #bce3f8 url(/images/body.jpg) no-repeat;
  font-size: 12px;
  color: #363636;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body a img {
  border: 0;
}
body .left-col {
  float: left;
  width: 380px;
}
body .right-col {
  float: right;
  width: 230px;
}
body .wrapper {
  width: 660px;
  margin: 0 auto;
}
body #header {
  padding: 5px 0 10px;
}
body #header a#invite-friends, body #header a#admin {
  float: left;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-decoration: none;
  display: block;
  font-size: 11px;
  padding: 3px 5px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
body #header a#invite-friends img, body #header a#admin img {
  float: left;
  margin: 2px 3px 0 0;
}
body #header a#invite-friends:hover, body #header a#admin:hover {
  background: rgba(0, 0, 0, 0.5);
}
body #header #top-right {
  float: right;
  font-size: 11px;
  color: #367199;
}
body #header #top-right a {
  color: #367199;
  font-weight: bold;
  text-decoration: none;
}
body #header #top-right a:hover {
  text-decoration: underline;
}
body #header #top-right a:last-child {
  font-weight: normal;
  text-decoration: underline;
}
body #nav {
  list-style-type: none;
  padding: 0;
  margin: 10px auto 25px;
  width: 660px;
  position: relative;
}
body #nav li#nav-stem-left {
  position: absolute;
  width: 16px;
  height: 11px;
  background: url(/images/nav-stem-left.png);
  left: 208px;
  bottom: -5px;
}
body #nav li#nav-stem-right {
  position: absolute;
  width: 16px;
  height: 11px;
  background: url(/images/nav-stem-right.png);
  left: 436px;
  bottom: -5px;
  z-index: 2;
}
body #nav li {
  position: relative;
  z-index: 1;
  width: 112px;
  height: 48px;
  float: left;
}
body #nav li:first-child a {
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 2px solid #407098;
}
body #nav li:last-child a {
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 0;
  border-left: 2px solid #639cbb;
}
body #nav li a {
  width: 110px;
  height: 48px;
  line-height: 48px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 -1px 1px #2f6a83;
  -webkit-box-shadow: 0 5px 0 #407098, inset 0 1px 0 #87bad1;
  -moz-box-shadow: 0 5px 0 #407098, inset 0 1px 0 #87bad1;
  box-shadow: 0 5px 0 #407098, inset 0 1px 0 #87bad1;
  background: #5387AC;
  /* old browsers */

  background: -moz-linear-gradient(top, #6e9cbd 0%, #6998b9 50%, #578cb0 51%, #5387ac 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6e9cbd), color-stop(50%, #6998b9), color-stop(51%, #578cb0), color-stop(100%, #5387ac));
}
body #nav li a:hover {
  background: -moz-linear-gradient(top, #79a6c4 0%, #74a3c0 50%, #6098b8 51%, #5b93b4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79a6c4), color-stop(50%, #74a3c0), color-stop(51%, #6098b8), color-stop(100%, #5b93b4));
}
body #nav li:nth-child(2) a {
  border-left: 2px solid #639cbb;
}
body #nav li:nth-child(6) a {
  border-right: 2px solid #407098;
}
body #nav li#logo {
  width: 244px;
  margin: -10px -16px 0;
  z-index: 2;
}
body #nav li#logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 48px;
}
body #nav li#logo a {
  width: 244px;
  border: 0;
}
body #content {
  position: relative;
  margin: 0 auto;
  width: 620px;
  border: 10px solid #f0f0f0;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 2px #000, 0 0 25px #246676;
  -moz-box-shadow: 0 0 2px #000, 0 0 25px #246676;
  box-shadow: 0 0 2px #000, 0 0 25px #246676;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
body #content #member-title {
  position: absolute;
  text-indent: -9999px;
  width: 76px;
  height: 27px;
  background: url(/images/member-title.png);
  top: -16px;
  left: 5px;
}
body #content #home-checkins, body #content #search-users {
  list-style-type: none;
  padding: 0;
  width: 640px;
  margin: 0 -10px -10px;
}
body #content #home-checkins li, body #content #search-users li {
  min-height: 42px;
  border-bottom: 1px solid #f0f0f0;
}
body #content #home-checkins li:last-child, body #content #search-users li:last-child {
  border: 0;
}
body #content #home-checkins li .member, body #content #search-users li .member {
  margin: 15px 20px 0 25px;
  width: 36px;
  height: 12px;
  float: left;
}
body #content #home-checkins li .member.yes, body #content #search-users li .member.yes {
  background: url(/images/member-yes-no.png);
}
body #content #home-checkins li .member.no, body #content #search-users li .member.no {
  background: url(/images/member-yes-no.png) 0 -12px;
}
body #content #home-checkins li .picture, body #content #search-users li .picture {
  width: 40px;
  float: left;
}
body #content #home-checkins li a img, body #content #search-users li a img {
  float: left;
  margin: 5px 10px 0 0;
}
body #content #home-checkins li a.follow-action, body #content #search-users li a.follow-action {
  width: 55px;
  margin: 10px 10px 0 0;
  font-size: 10px;
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: -webkit-linear-gradient(#f3f3f3, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #eeeeee));
  background: -moz-linear-gradient(top, #f3f3f3, #eeeeee);
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #888;
  text-decoration: none;
  font-weight: bold;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body #content #home-checkins li a.follow-action.unfollow, body #content #search-users li a.follow-action.unfollow {
  background: #333;
  border: 1px solid #555;
  color: #fff;
}
body #content #home-checkins li a.follow-action.follow:hover, body #content #search-users li a.follow-action.follow:hover {
  background: #ff9c0a;
  color: #fff;
}
body #content #home-checkins li a.follow-action.unfollow:hover, body #content #search-users li a.follow-action.unfollow:hover {
  background: #ccc;
  border: 1px solid #999;
  color: #999;
}
body #content #home-checkins li .user-info,
body #content #search-users li .user-info,
body #content #home-checkins li .user-followers,
body #content #search-users li .user-followers {
  float: left;
  margin: 5px 0;
  width: 140px;
  padding: 3px 10px 0 0;
}
body #content #home-checkins li .user-info h4,
body #content #search-users li .user-info h4,
body #content #home-checkins li .user-followers h4,
body #content #search-users li .user-followers h4 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 130px;
  overflow: hidden;
}
body #content #home-checkins li .user-info h4 a,
body #content #search-users li .user-info h4 a,
body #content #home-checkins li .user-followers h4 a,
body #content #search-users li .user-followers h4 a {
  width: 130px;
  display: block;
  text-decoration: none;
  color: #363636;
}
body #content #home-checkins li .user-info h4 a:hover,
body #content #search-users li .user-info h4 a:hover,
body #content #home-checkins li .user-followers h4 a:hover,
body #content #search-users li .user-followers h4 a:hover {
  text-decoration: underline;
}
body #content #home-checkins li .user-info h5,
body #content #search-users li .user-info h5,
body #content #home-checkins li .user-followers h5,
body #content #search-users li .user-followers h5 {
  font-size: 11px;
  margin: 0;
  padding: 0;
  width: 130px;
}
body #content #home-checkins li .user-info h5 a,
body #content #search-users li .user-info h5 a,
body #content #home-checkins li .user-followers h5 a,
body #content #search-users li .user-followers h5 a {
  width: 130px;
  display: block;
  text-decoration: none;
  color: #999;
  font-weight: normal;
  font-style: italic;
}
body #content #home-checkins li .user-info h5 a:hover,
body #content #search-users li .user-info h5 a:hover,
body #content #home-checkins li .user-followers h5 a:hover,
body #content #search-users li .user-followers h5 a:hover {
  text-decoration: underline;
}
body #content #home-checkins li h3, body #content #search-users li h3 {
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 8px 0 10px 0;
  width: 220px;
}
body #content #home-checkins li h3 a, body #content #search-users li h3 a {
  width: 215px;
  display: block;
  text-decoration: none;
  color: #5c96b5;
}
body #content #home-checkins li h3 a:hover, body #content #search-users li h3 a:hover {
  text-decoration: underline;
}
body #content #home-checkins li h3 a.location-comment-count, body #content #search-users li h3 a.location-comment-count {
  padding: 0 0 0 16px;
  margin: 2px 0 0 0;
  height: 12px;
  line-height: 12px;
  display: block;
  font-size: 10px;
  color: #aaa;
  background: url(/images/location-comment-count.png) no-repeat;
}
body #content #home-checkins li a.invite, body #content #search-users li a.invite {
  float: right;
  color: #888;
  font-weight: bold;
  text-decoration: none;
  display: block;
  font-size: 11px;
  padding: 5px;
  margin: 9px 10px 0 0;
  background: -webkit-linear-gradient(#f3f3f3, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #eeeeee));
  background: -moz-linear-gradient(top, #f3f3f3, #eeeeee);
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
body #content #home-checkins li a.invite img, body #content #search-users li a.invite img {
  float: left;
  margin: 0 3px 0 0;
}
body #content #home-checkins li a.invite:hover, body #content #search-users li a.invite:hover {
  background: -webkit-linear-gradient(#ff9c0a, #f29000);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9c0a), color-stop(100%, #f29000));
  background: -moz-linear-gradient(top, #ff9c0a, #f29000);
  color: #fff;
  border-color: #e28600;
}
body #content #home-following {
  padding: 50px 0 0 0;
  position: relative;
}
body #content #home-following #home-following-title {
  left: -23px;
  top: 25px;
}
body #content #home-following a {
  float: left;
  margin: 2px 2px 0 0;
}
body #content .actions {
  float: right;
  padding: 3px;
  margin: 8px 10px 0 0;
  cursor: pointer;
  position: relative;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-linear-gradient(#f3f3f3, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #eeeeee));
  background: -moz-linear-gradient(top, #f3f3f3, #eeeeee);
  border: 1px solid #ccc;
}
body #content .actions img {
  margin: 0;
  float: left;
}
body #content .actions:hover {
  background: -webkit-linear-gradient(#ff9c0a, #f29000);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9c0a), color-stop(100%, #f29000));
  background: -moz-linear-gradient(top, #ff9c0a, #f29000);
  border-color: #e28600;
}
body #content .actions ul {
  display: none;
  position: absolute;
  z-index: 1;
  top: 24px;
  left: -1px;
  background: #000;
  width: 100px;
  list-style-type: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
body #content .actions ul li {
  color: #bce3f8;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  height: 25px !important;
  line-height: 25px !important;
  border-top: 1px solid #3c3c3c;
  background: -webkit-linear-gradient(#252525, #000000);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #252525), color-stop(100%, #000000));
  background: -moz-linear-gradient(top, #252525, #000000);
  border-bottom: 0 !important;
}
body #content .actions ul li:first-child {
  text-indent: 5px;
}
body #content .actions ul li a {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
  display: block;
  padding: 0 5px;
  background: -webkit-linear-gradient(#252525, #000000);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #252525), color-stop(100%, #000000));
  background: -moz-linear-gradient(top, #252525, #000000);
}
body #content .actions ul li a:hover {
  color: #ff9c0a;
}
body #content .actions.open ul {
  display: block;
}
body #content #profile-info {
  padding: 9px;
  height: 75px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body #content #profile-info img#user-avatar {
  float: left;
  margin: 0 10px 0 0;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body #content #profile-info #profile-user-info {
  float: left;
  padding: 0;
}
body #content #profile-info #profile-user-info h2 {
  margin: 0;
  padding: 0;
  color: #363636;
  font-size: 18px;
}
body #content #profile-info #profile-user-info h3 {
  margin: 0;
  padding: 0 0 3px 0;
  color: #5c96b5;
  font-size: 14px;
}
body #content #profile-info #profile-user-info h4 {
  margin: 0;
  padding: 0 0 3px 0;
  color: #aaa;
  font-size: 12px;
}
body #content #profile-info .actions {
  top: 18px;
}
body #content #out-now {
  position: relative;
  padding: 18px 10px;
  border: 5px solid #95c4dd;
  background: #bce3f8 url(/images/out-now.png) 18px 10px no-repeat;
  font-size: 14px;
  text-indent: 30px;
  margin: 10px;
  color: #363636;
  text-align: left;
  font-weight: bold;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
body #content #out-now a {
  color: #5c96b5;
}
body #content #out-now div {
  width: 27px;
  height: 27px;
  position: absolute;
  background: url(/images/out-now-corners.png);
}
body #content #out-now .tl {
  top: -7px;
  left: -7px;
  background-position: 0 0;
}
body #content #out-now .bl {
  bottom: -7px;
  left: -7px;
  background-position: 0 -81px;
}
body #content #out-now .tr {
  top: -7px;
  right: -7px;
  background-position: 0 -27px;
}
body #content #out-now .br {
  bottom: -7px;
  right: -7px;
  background-position: 0 -54px;
}
body #content #profile-recent-checkins {
  position: relative;
  padding: 35px 0 0 0;
}
body #content #profile-recent-checkins #recent-checkins-title {
  left: -23px;
  top: 10px;
}
body #content #profile-recent-checkins ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body #content #profile-recent-checkins ul li {
  border-bottom: 1px solid #f0f0f0;
  float: left;
}
body #content #profile-recent-checkins ul li:last-child {
  border: 0;
}
body #content #profile-recent-checkins ul li a {
  font-size: 14px;
  display: block;
  color: #5c96b5;
  text-decoration: none;
  font-weight: bold;
  width: 280px;
  height: 46px;
  line-height: 46px;
  float: left;
}
body #content #profile-recent-checkins ul li a:hover {
  text-decoration: underline;
}
body #content #profile-recent-checkins ul li small {
  float: right;
  width: 90px;
  font-size: 11px;
  font-style: italic;
  color: #777;
  height: 46px;
  line-height: 46px;
}
body #content #profile-following {
  padding: 40px 0 0 0;
  position: relative;
}
body #content #profile-following #profile-following-title {
  left: -23px;
  top: 15px;
}
body #content #profile-following a {
  float: left;
  margin: 2px 2px 0 0;
}
body #content #favorite-places, body #content #friends-favorite-places {
  margin: 35px 0 0 0;
  float: left;
  position: relative;
}
body #content #favorite-places #favorite-places-title,
body #content #friends-favorite-places #favorite-places-title,
body #content #favorite-places #friends-favorite-places-title,
body #content #friends-favorite-places #friends-favorite-places-title {
  right: -23px;
  top: -25px;
}
body #content #favorite-places ul, body #content #friends-favorite-places ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body #content #favorite-places ul li, body #content #friends-favorite-places ul li {
  margin: 0 0 5px 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  padding: 5px 8px;
  width: 214px;
  float: left;
}
body #content #favorite-places ul li a, body #content #friends-favorite-places ul li a {
  padding: 7px 0 0 0;
  display: block;
  color: #5c96b5;
  width: 160px;
  float: left;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}
body #content #favorite-places ul li a:hover, body #content #friends-favorite-places ul li a:hover {
  text-decoration: underline;
}
body #content #favorite-places ul li div, body #content #friends-favorite-places ul li div {
  text-align: center;
  width: 50px;
  float: right;
}
body #content #favorite-places ul li div em, body #content #friends-favorite-places ul li div em {
  color: #363636;
  font-size: 18px;
  width: 50px;
  display: block;
  font-weight: bold;
  font-style: normal;
}
body #content #favorite-places ul li div small, body #content #friends-favorite-places ul li div small {
  display: block;
  width: 50px;
  font-size: 9px;
  color: #aaa;
  font-style: normal;
}
body #footer {
  padding: 10px 0 100px;
  color: #367199;
  font-size: 11px;
}
.titlebar {
  position: absolute;
  background: -webkit-linear-gradient(#494949, #242424);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #242424));
  background: -moz-linear-gradient(top, #494949, #242424);
  height: 21px;
  line-height: 21px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 -1px 1px #000000;
  padding: 0 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.titlebar.left {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.titlebar.right {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#welcome-header {
  height: 270px;
  width: 620px;
  margin: 0 0 10px 0;
  position: relative;
  background: url(/images/welcome-map.jpg);
}
#welcome-header h2 {
  color: #fff;
  font-size: 24px;
  text-shadow: 0 -1px 1px #000000;
  font-weight: bold;
  height: 52px;
  text-indent: 10px;
  line-height: 52px;
}
#welcome-header h3 {
  position: absolute;
  margin: 0;
  bottom: 5px;
  left: -23px;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
}
#welcome-left {
  float: left;
  width: 340px;
  padding: 0 0 15px 0;
}
#welcome-left p {
  font-size: 12px;
  color: #555;
  line-height: 16px;
}
#welcome-right {
  float: right;
  width: 200px;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  margin: 25px 0 0 0;
  font-size: 14px;
  color: #363636;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
  display: block;
}
.chalkboards {
  font-size: 11px;
}
.chalkboards h4 {
  padding: 10px 0;
}
.chalkboard {
  font-size: 11px;
  margin: 7px 0;
}
.chalkboard .group {
  padding: 10px 0;
}
.chalkboard .message {
  padding: 0 0 10px 0;
}
.flash {
  width: 620px;
  float: left;
}
