.badge                        { padding-bottom: 10px; }
.badge #badge_name_wrapper a  { color: #00F; font-size: 0.9em; }
.badge #badge_name            { margin-bottom: 0px; padding-bottom: 0px; font-size: 1.2em; line-height: 1.2em; }
.badge #badge_votes           { font-size: 0.9em; color: #555; }
.badge #badge_label           { font-size: 0.9em; }
.badge #agree_disagree        { padding-left: 3px; }

.friend                       { padding-bottom: 10px; }
.friend #checkins_count_link  { font-size: 0.9em; }
.friend #checkins_count_data  { font-size: 0.9em; background-color: #EE0; }

.profile #user_profile_handle { }
.profile #user_profile_data   { font-size: 0.9em; color: #555; }

.profile #user_geo_cloud  span        { font-size: 0.9em; padding-right: 5px; font-weight: normal; color: #555; }
.profile #user_geo_cloud  span.city1  { font-size: 1.5em; }
.profile #user_geo_cloud  span.city2  { font-size: 1.3em; }
.profile #user_geo_cloud  span.city3  { font-size: 1.1em; }

.profile #user_geo_cloud  a.current       { font-weight: bold; color: #333; }
.profile #user_geo_cloud  a.current:hover { font-weight: bold; color: #333; background-color: #FFF; }
