.badge                    { padding-bottom: 10px; }
.badge #badge_name        { margin-bottom: 0px; padding-bottom: 0px; }
.badge #badge_name a      { color: #00F; font-size: 0.9em; }
.badge #badge_label       { font-size: 0.9em; }
.badge #agree_disagree    { padding-left: 3px; }
