- title('Users')

.span-23.prepend-1.mat
  %h2== Users

%hr.space

.span-24.last#users
  - @users.each do |user|
    .span-24.last#user.padding-bottom-10
      .span-5.prepend-1#name
        = link_to user.handle, user_path(user), :class => 'admin'
      .span-3#checkins
        = pluralize(user.checkins.count, 'checkin')
      .span-5#points
        = I18n.t("points", :points => user.points)
      .span-10.last
        = pluralize(user.checkin_logs.error.count, 'error')
