#page-header
  #profile-header
    = image_tag(@sender.try(:primary_photo_url), :size => '50x50', :alt => 'profile-avatar')
    %h3= @sender.try(:handle)

%hr.space

.span.24.last
  = display_flash(:all)
