.flash#flash
  - ApplicationHelper::FLASH_TYPES.each do |type|
    - if !flash[type].blank?
      == <div class="#{type}">
      - if flash[type].is_a?(Array)
        - flash[type].each do |line|
          = line
          %br
      - else
        = flash[type]
      == </div>
      