- oauth_links = build_missing_oauth_links
- if oauth_links.any?
  #oauth_links{:style => 'margin: 10px;'}
    %span{:style => 'font-weight: bold; padding: 0 10px;'} Link your Foursquare account:
    - oauth_links.each_with_index do |link, i|
      %span{:style => 'font-size: 0.9em;'}= link
