- url = local_assigns[:url] || messages_path(:format => 'json')

.overlay.clearfix#wall-message-overlay
  .close
  %p
    %em
      When you a checkin somewhere, a chalkboard is created for you and your followers to have a conversation.
      %br
      When you write on the chalkboard, all participants are sent the message.
  %h3#header_to To:
  = form_tag(messages_path, :id => 'new_message', 'data-url' => url) do
    = hidden_field_tag 'message[wall_id]', '', :id => "message_wall_id"
    %h3 Message:
    = text_area_tag 'message[body]', '', :id => 'message_body', :style => 'height: 30px;', :class => 'textarea countdown autoresize', :placeholder => 'e.g. hey there'
    %br
    %span#message_count 140
    %span#message_send= submit_tag 'Send', :id => 'message_send_submit'
    %div.close