- visible = 'show' unless local_assigns[:visible]

.span-10.location[location]{:class => visible}
  .span-2#picture
    = image_tag('icon-blank.jpg', :size => '50x50')
  .span-5{:style => 'font-size: 0.9em;'}
    #location_name= location.name
    #location_city= location.city
  .span-3.last.hide#location_toggle
    = link_to I18n.t("home.stream.location_plan"), '#', :class => 'admin'