.span-11.last{:style => 'padding: 10px;'}
  My Stats
  %p
  You have <strong>#{pluralize(current_user.checkins_count, 'checkin')}</strong>.
  - if current_user.checkins_count > 0
    - last_checkin = current_user.checkins.limit(1).order('checkin_at desc').first
    %p
    Your last checkin was at <strong>#{last_checkin.location.try(:name)}</strong> #{checkin_time_ago(last_checkin.checkin_at)}.
  %p
  - todos = current_user.planned_checkins.active
  - if false #todos.any?
    - todo_locations  = todos.collect(&:location)
    - todo_names      = todo_locations.collect(&:name) rescue []
    You have <strong>#{todo_names.to_sentence}</strong> on your planned checkin list.
  - else
    You don't have any planned checkins.  Add one by clicking on a checkin in the stream to the left and clicking 'Plan To Go Here'.
