.span-11.last{:style => 'padding: 10px;'}
  My Stats
  %p
  You have <strong>#{pluralize(current_user.checkins_count, 'checkin')}</strong>.
  - if current_user.checkins_count > 0
    - last_checkin = current_user.checkins.limit(1).order('checkin_at desc').first
    %p
    Your last checkin was at <strong>#{last_checkin.location.try(:name)}</strong> #{checkin_time_ago(last_checkin.checkin_at)}.
  %p
  - num_todos  = current_user.planned_checkins.active.count
  You have <strong>#{pluralize(num_todos, 'planned checkin')}</strong> on your todo list.
