#content.home-content.clearfix
  %h4{:style => 'font-weight: bold;'} What is Outlately?
  Outlately is a community for those who like
  %strong meeting people
  and
  %strong checking out new places. 

  %p
  For those of you looking to meet new people and check out what places are hot,
  %strong the Everyone stream shows guys and girls who are out and about.
  Check out what is going on your city, or if you are heading to another city instantly find out what places the people you like are going to. Birds of a feather flock together…

  %p
  %strong Want to see what your crew is up to?
  Go to the Friends stream to see where your Facebook friends are and where you should be going right now.
  %strong Just check in and check out Outlately!
  
  %p
  %strong Your Profile – You are what you do
  %p

  %strong Go check in at your favorite places, and then check out your Social DNA.
  Outlately automatically creates your profile based on the places you like.
  %strong Outlately is about accurate profiles and truth through action. 

  / %p
  / %strong Outlately does the work for you – Meet New People
  / %p
  / Check out the Suggestions stream to find people who you are compatible with and places you would both like to meet up.  The more you check-in, the more suggestions you get.  

  %p
  %strong Get Points, Use Points – Outlately is the world’s first truly social game
  %p

  Earn points by checking in and adding information about your favorite spots.  These points can be used to check out other people’s profile pages and meet people.

  %p
  Every action in Outlately earns points or costs points.  Plan to go somewhere then check-in at that place, you get 50 points.  Set up a date with someone you like, it costs 50 points.  You’ll get the hang of it...
  
