%h3{:style => 'margin-top: 20px;'}== Please enter your site access code below:

= form_for('', :url => beta_path) do |f|
  %h4= text_field_tag :code, '', :style => 'font-size: 2.0em; size => 20x20;'
  = f.submit "Continue"