<div id="header">
  <h1>Outlately</h1>
  <h2>Send Message</h2>
</div>
<div id="message">
  <div id="textarea">
    <div id="to">
      To: Adam M.
    </div>
    <div id="subject">
      Re: your checkin @ somewhere
    </div>
    <textarea></textarea>
  </div>
  <input type="submit" value="Send Message" />
</div>