<div id="profile-info" class="clearfix">
  <img src="/images/avatar-large.jpg" alt="fred yates" id="user-avatar" />
  <div id="profile-user-info">
    <h2>Fred Yates</h2>
    <h3>Boston, MA</h3>
    <h4>64 Checkins</h4>
  </div>
  <div class="actions">
    <img src="/images/actions.png" alt="actions menu" />
    <span>
      <ul>
        <li>Fred Y.</li>
        <li><a href="#">Send Message</a></li>
        <li><a href="#">Unfollow</a></li>
      </ul>
    </span>
  </div>
</div>  
<div id="out-now">
  <div class="tl"></div>
  <div class="bl"></div>
  <div class="tr"></div>
  <div class="br"></div>
  Fred is out now at <a href="#">TD Garden</a>
</div>
<div class="left-col">
  <div id="profile-recent-checkins">
    <div id="recent-checkins-title">Recent Checkins</div>
    <ul>
      <li>
        <a href="#">TD Garden</a>
        <small> 24 minutes ago<small>
        </small>
    </ul>
  </div>
  <div id="profile-following">
    <div id="profile-following-title">Friends I&apos;m Following</div>
    <a href="#"><img src="/images/avatar.jpg" alt="Fred Yates" /></a>
    <a href="#"><img src="/images/avatar.jpg" alt="Fred Yates" /></a>
    <a href="#"><img src="/images/avatar.jpg" alt="Fred Yates" /></a>
    <a href="#"><img src="/images/avatar.jpg" alt="Fred Yates" /></a>
    <a href="#"><img src="/images/avatar.jpg" alt="Fred Yates" /></a>
    <a href="#"><img src="/images/avatar.jpg" alt="Fred Yates" /></a>
  </div>
</div>
<div class="right-col">
  <div id="favorite-places">
    <div id="favorite-places-title">Favorite Places</div>
    <ul>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
    </ul>
  </div>
  <div id="friends-favorite-places">
    <div id="friends-favorite-places-title">Friends&apos; Favorite Places</div>
    <ul>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
      <li>
        <a href="#">TD Garden</a>
        <div>
          <em>14</em>
          <small>Checkins</small>
        </div>
      </li>
    </ul>
  </div>
</div>