-# show friends and member
- if invitees.any?
  %strong Invite your facebook friends who checkin:
  - invitees.each do |user|
    #friend_invitee= user.handle
  - members.each do |user|
    #friend_member{:style => 'color: #aaa;'} #{user.handle} (member)
