#page-header
  .span-23.prepend-1.last
    %h2 Setup Completed

#content.clearfix.newbie
  .span.24.last.notice
    %h4{:style => 'font-size: 1.3em; line-height: 1.5em;'}
      You're all ready to start using Outlately.  So here's what you need to remember about the site.
      %p
      Checkins are the way you build your profile and Social DNA, so keep checking in on Foursquare and Facebook.
      %p
      Plans are a 'beacon' about what you're going to be doing, and allow others to interact with you.
      %p
      Click 'Go' to join the fun.

  .span-23.prepend-1.last{:style => 'margin-top: 10px;'}
    = link_to 'Go', root_path, :class => 'button go', :style => 'font-size: 1.3em;'
