#page-header
  .span-24.last
    %h2 Setup Completed

#content.clearfix.newbie
  .span.24.last
    %h3
      You're all ready to start using Outlately.  So here's what you need to remember about the site.
      %p
      Checkins are the way you build your profile and meet new people, so keep checking in on Foursquare or Facebook.
      %p
      Planning to go somewhere (#{link_to('Plans', plans_path)} page) is a great way to let your friends know where you are going to be, and new people can express interest in buying you a drink or meeting up.
      You get to decide whether you want to meet up with them.
      %p
      Click 'Go' to join the fun.

  .span-24.last{:style => 'margin-top: 10px;'}
    = link_to 'Go', root_path, :class => 'button go', :style => 'font-size: 1.3em;'
