#page-header
  .span-23.prepend-1.last
    %h2 Setup Completed

#content.clearfix.newbie
  .span.24.last.notice
    You're all ready to start using Outlately.
    %p
    Click 'Go' to join the fun.

  .span-23.prepend-1.last{:style => 'margin-top: 10px;'}
    = link_to 'Go', root_path, :class => 'button go'
