.span-11.last{:style => 'padding: 10px;'}
  - if user.member?
    = render(:partial => 'checkins/whatnow_member', :locals => {:location => location, :user => user})
    = render(:partial => 'checkins/whatnow_plan', :locals => {:location => location, :user => user, :todos => todos})
  - else
    = render(:partial => 'checkins/whatnow_invite', :locals => {:location => location, :user => user})
    = render(:partial => 'checkins/whatnow_plan', :locals => {:location => location, :user => user, :todos => todos})
      