- title('Checkins')

.span-23.prepend-1.mat
  %h2== Checkins
  %h4== My Checkin History

%hr.space

.span-24.last#sightings
  - @checkins.each_pair do |source, checkins|
    .span-23.prepend-1.last{:style => 'padding-bottom: 15px;'}
      %h2.bottom= source
      - checkins.each do |checkin|
        .span-23.last
          = checkin.location.try(:name)
