- stylesheet('admin')

#page-header
  .span-24.last
    = render(:partial => 'admin/admin_links')

.clearfix
  .span-24.last#admin_checkins
    - @checkins.each do |checkin|
      - user      = checkin.user
      - location  = checkin.location
      .span-24.last.admin_checkin{:class => cycle('even', 'odd')}
        .span-23.prepend-1.last.user
          #{user.handle} @ #{checkin.checkin_at.to_s(:datetime_dow)}
        .span-24.last.location
          = render(:partial => 'locations/location',
                   :locals => {:location => location, :tag_link => true, :edit_link => true})
