- title('Locations')

- content_for :mat do
  %h2 Locations

%hr.space

.span-24.last#locations
  - @locations.each do |location|
    .span-24.last.location
      = render(:partial => 'locations/location', :locals => {:location => location, :tag_link => true, :edit_link => true})
