- title('Locations')

.span-23.prepend-1.mat
  %h2== Locations
  %h4= link_to 'Import Tags', '#', :class => 'admin'

%hr.space

.span-24.last#locations
  - @locations.each do |location|
    .span-24.last#location.padding-bottom-10
      .span-5.prepend-1#name
        = location.name
      .span-7#address
        = location.street_address
      .span-11.last#tags
        = location.tag_list.blank? ? 'No Tags' : location.tag_list.join(', ')