- title('Locations')

- content_for :mat do
  %h2 Locations

%hr.space

.span-24.last#locations
  - @locations.each do |location|
    .span-24.last#location.padding-bottom-10
      = render(:partial => 'locations/location', :locals => {:location => location, :sources => location.location_sources.collect(&:source_type), :import => true, :link => :edit})
