<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>OutLately</title>
    <%= stylesheet_link_tag 'redesign', :media => 'screen' %>
  </head>
  <body>
    <div id="header" class="wrapper clearfix">
      <a href="#" id="invite-friends"><img src="/images/plus.png" alt="invite friends" />Invite Friends</a>
      <div id="top-right">
        Welcome, <a href="#">Fred Yates</a>. <a href="#">sign out</a>
      </div>
    </div>
    <ul id="nav" class="clearfix">
      <li id="home"><a href="#">Home</a></li>
      <li id="profile"><a href="#">Profile</a></li>
      <li id="logo"><a href="/"><h1>Outlately</h1></a></li>
      <li id="nav-stem-left"></li>
      <li id="nav-stem-right"></li>
      <li id="activity"><a href="#">Activity</a></li>
      <li id="settings"><a href="#">Settings</a></li>
    </ul>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer" class="wrapper">
        &copy; 2011 Outlately
    </div>
  </body>
</html>
