- title('Accounts')

.span-23.prepend-1.mat
  %h2== Accounts

%hr.space

.span-24.last#accounts
  - ['github', 'foursquare', 'facebook'].each do |service|
    .span-23.prepend-1.last
      .span-5
        %h3= service
      .span-5.last
        - if @oauth_hash[service]
          = @oauth_hash[service].access_token
        - else
          - if service.to_sym == :foursquare
            %h5= link_to "Link to Account", oauth_initiate_path(:foursquare) rescue nil
          - else
            %h5= link_to "Link to Account", user_oauth_authorize_url(service.to_sym) rescue nil
    
